!!! 5
html
  head
    title Edit
    include css
  body
    .content
      .form-group.content-group
        form(action="/edit/#{bit._id}", method="post")
          .content-editor-toolbar.btn-group
            .btn#editor-h1 h1
            .btn#editor-h2 h2
            .btn#editor-h3 h3

          textarea.content-editor#editor(name="content")
            | #{bit.content}
            | #{util.join_topics(bit.topics)}

          button.btn(type="submit") Save

    include script
    script(src='/js/edit.js')