!!! 5
html
  head
    title Edit
    include css
  body
    .content
      .form-group.content-group
        form(action="/edit/#{bit._id}", method="post")
          .content-editor-toolbar.btn-group
            .btn h1
            .btn h2
            .btn h3

          textarea.content-editor(name="content")
            | #{bit.content}
            | #{util.join_topics(bit.topics)}

          button.btn(type="submit") Save

    include script