!!! 5
head
  title Elias
  include css
body
  .navbar
    .navbar-inner
      ul.nav

  .containner#main
    .sidebar
      .timeline
      .row.bit-entry-date-header
        .span3.timeline-column
          .outercircle-date
            .innercircle-date
              span.day#today-day= moment().format("MMM")
              span.month#today-month= moment().format("DD")
      .row.bit-entry
        .span3.timeline-column
        .span5
          .message-box.new-bit-box
            textarea#content-txt.message-box-text(placeholder="Type text here", rows=3)
            a#save-btn.btn Save
            a#attach.btn
              .span.fui-link
              input#fileupload(type="file", name="attach", data-url="/upload")

      script#upload-file-template(type="text/x-handlebars-template")
        .upload-status.message-box
          .upload-name {{file}}
          .upload-progress-wrapper
            .upload-progress
      script#group-template(type="text/x-handlebars-template")
        .row.bit-entry-date-header
          .span3.timeline-column
            .outercircle-date
              .innercircle-date
                span.day#today-day {{month}}
                span.month#today-month {{day}}
      script#bit-template(type="text/x-handlebars-template")
        .row.bit-entry
          .span3.timeline-column
              .span.timeline-hour {{formatBitTime date}}
          .span5(id="{{_id}}")
            .message-box
              .message-box-content
                {{{content}}}
              .bit-entry-toolbar
                .btn-toolbar.bit-entry-controls
                  .bit-entry-toolbar-btn-group.btn-group
                    a.btn.btn-primary.bit-entry-toolbar-btn(href="/edit/{{_id}}")
                      span.fui-new-16
                    a.btn.btn-primary.bit-entry-toolbar-btn(href="/view/{{_id}}")
                      span.fui-eye-16
                    a.btn.btn-primary.bit-entry-toolbar-btn(href='/delete/{{_id}}')
                      span.fui-cross-16
                .bit-entry-topics.tagsinput
                  {{#topics}}
                  .bit-entry-topic.tag {{this}}
                  {{/topics}}
    .topics
      h2 Topics
      .topic-list
        .tagsinput
          each topic in topics
            span.tag
              .span #{topic}
              a.tagsinput-remove-link
        
    form#uploader-form(style="display:none;", action="/upload", method="POST")
      input#uploader-file(type="file", name="file")
    include script
