!!! 5
head
	link(rel="stylesheet", href="/css/style.css")
body
	.header
	.items
		.item
			h1.item-header
				| The Worst Mistake in the History of the Human Race
			.item-snippet
				a(href='#') http://discovermagazine.com/1987/may/02-the-worst-mistake-in-the-history-of-the-human-race
				p What do you see about this?
			.item-meta
				| rosy
		.item