!!! 5
head
  title Elias
  link(rel="stylesheet", href="/css/style.css")

body
  .blur-wrapper
    img#blur-img(src="/img/blur-bg.jpg")
    canvas#blur-canvas
  .working-article
    .article-left
      .logo
      .article-toolbar
        .span.toolbar-add-bit
          a(href="#/newbit")
        .span.toolbar-list-doc
          a(href="#/articles")
        .span.toolbar-list-bit
          a(href="#/bits")
    .article-list
    .article-content
      .article-content-view
    .article-right

  script#bit-editor-template(type="text/x-handlebars-template")
    .bit-content-edit
      .bit-edit-toolbar
        ul.bit-editor-button
          li
            a(href="#") h1
          li
            a(href="#") h2
          li
            a(href="#") img
          li
            a(href="#") url
          li
            a(href="#")
      .bit-editor-function-button
        .bit-save
          a(href="#") Save
        .bit-cancel
          a(href="#") Cancel
      textarea.bit-editor
        {{#if bit}}
        | {{{bit.content}}}
        {{/if}}

  script#article-editor-template(type="text/x-handlebars-template")
    .article-content-edit
      .bit-topic
        input#editor-bit-topic(value="{{article.title}}")
      .article-edit-toolbar
        ul.article-editor-button
          li
            a(href="#") h1
          li
            a(href="#") h2
          li
            a(href="#") img
          li
            a(href="#") url
          li
            a(href="#")
      .article-editor-function-button
        .article-save
          a(href="#") Save
        .article-cancel
          a(href="#") Cancel
      textarea.article-editor // (ondrop="dropToEditor(event)", ondragover="allowDrop(event)")
        | {{{article.content}}}

  script#article-list-template(type="text/x-handlebars-template")
    ul
      li
        a.craft-new-article(href="javascript: craftArticle();") Craft New Article
      {{#metas}}
      li
        .topic-list
          a(href="javascript:loadArticle('{{this._id}}')") {{this.title}}
          span.topic-update-time {{articleDate this.lastModified}}
      {{/metas}}

  script#article-template(type="text/x-handlebars-template")
    .article-title
      {{title}}
    .article-view-toolbar
      a.article-view-toolbar-edit(href="#")
    .article-status
      {{articleDate created}}
    {{#if content}}
    {{{parseMarkdown content}}}
    {{else}}
    {{#bits}}
    .article-section
      {{{parseMarkdown this.content}}}
    {{/bits}}
    {{/if}}

  script#bit-list-template(type="text/x-handlebars-template")
    .bit-search
      input
    .bit-list
      {{#bits}}
      .bit-list-entry
        .bit-date
          .bit-date-month
            {{getMonth this.date}}
          .bit-date-day
            {{getDay this.date}}
        .bit-summary(draggable="true", ondragstart="dragBit(event)")
          {{this.content}}
      {{/bits}}

  script#bit-template(type="text/x-handlebars-template")
    .bit-content
      {{content}}
    .bit-info
      {{date}}
    .bit-toolbar
      a.bit-toolbar-edit(href="#")
        img(src="/img/bit-edit.png")
      a.bit-toolbar-delete(href="#")
        img(src="/img/bit-delete.png")

  script(src="/js/jquery-1.8.2.min.js")
  script(src="/js/StackBlur.js")
  script(src="/js/handlebars-v2.0.0.js")
  script(src="/js/marked.js")
  script(src="/js/moment.min.js")
  script(src="/js/underscore-min.js")
  script(src="/js/velocity.min.js")
  script(src="/js/d3.v4.min.js")
  script(src="/js/jquery.dotdotdot.min.js")
  script(src="/js/director.min.js")
  script(src="/js/app.js")
