html, body {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  background-color: #ecf0f1;
  height: 100%;
}

.blur-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#blur-img {
  display: none;
}

.working-article {
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: 35px;
  background-color: white;
  box-shadow: 1px 1px 2px #ecf0f1;
  padding: 50px 38px 50px 38px;
  word-wrap: break-word;
  font-family: "Helvetica Neue";
  font-size: 13px;
  line-height: 1.4em;
  display: table;
  table-layout: fixed;
  perspective: 2000px;
  min-height: 100%;
}

/* Left and toolbar */

.article-left {
  display: table-cell;
  width: 100px;
  position: relative;
}

.article-left .logo {
  background: url(../img/Elias-logo.png);
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  position: absolute;
  top: 0;
  left: 14px;
}

.article-list {
  opacity: 0;
  display: table-cell;
  overflow: hidden;
}

.article-list ul {
  list-style-type: none;
  padding: 0;
}

.article-list ul li {
  line-height: 20px;
  font-size: 15px;
  margin-bottom: 5px;
  width: 250px;
}

.article-list .topic-list a {
  display: block;
  width: 100%;
  color: black;
}

.article-list .topic-list a:hover {
  background-color: #666;
  color: white;
}

.article-list .topic-update-time {
  display: block;
  width: 100%;
  font-size: 9px;
  color: #ddd;
}

.article-toolbar {
  position: absolute;
  top: 50px;
  left: 18px;
}

.span.toolbar-list-doc {
  background: url(/img/list.png) no-repeat;
  background-size: 26px 26px;
  width: 26px;
  height: 26px;
  margin-bottom: 10px;
}

.span.toolbar-list-bit {
  background: url(/img/document.png) no-repeat;
  background-size: 26px 26px;
  width: 26px;
  height: 26px;
  margin-bottom: 10px;
}

.span.toolbar-add-bit {
  background: url(/img/new.png) no-repeat;
  background-size: 26px 26px;
  width: 26px;
  height: 26px;
  margin-bottom: 10px;
}

.span.toolbar-list-bit a, .span.toolbar-add-bit a, .toolbar-list-doc a {
  display: block;
  width: 100%;
  height: 100%;
}

/* article content */
.article-content {
  display: table-cell;
  padding-left: 5px;
  padding-right: 15px;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
  height: 100%;
}

.article-content.flipped {
  transform: rotateY(180deg);
}

.article-content-edit {
  position: absolute;
  top: 0;
}

.article-content-view, .article-content-edit {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  padding-right: 25px;
}

.article-content-view {
}

.article-title {
  float: left;
  line-height: 28px;
}

.article-content:hover .article-view-toolbar {
  display: block;
}

.article-view-toolbar {
  float: left;
  height: 28px;
  display: none;
  margin-left: 2px;
}

.article-view-toolbar-edit {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../img/edit-article.png);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.article-status {
  clear: both;
}

.bit-topic {
  margin-bottom: 5px;
}

.bit-topic input {
  height: 38px;
  font-size: 28px;
  border-bottom: 1px solid #EEE;
  border-top: none;
  border-left: none;
  border-right: none;
}

.bit-topic input:focus {
  outline: none !important;
}

/* Editor toolbar */
.article-edit-toolbar {
  width: 400px;
  height: 26px;
  background-color: #ecf0f1;
  margin-bottom: 2px;
  float: left;
}
.article-edit-toolbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 26px;
}
.article-edit-toolbar li {
  float: left;
  height: 100%;
}
.article-edit-toolbar li a {
  display: block;
  width: 36px;
  height: 26px;
  text-decoration: none;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
}
.article-edit-toolbar li a:hover {
  background-color: #4c4d4f;
  color: #ecf0f1;
}
.article-editor-function-button {
  height: 26px;
  float: left;
  margin-left: 15px;
}
.article-save, .article-cancel {
  margin-right: 4px;
  float: left;
  text-align: center;
}
.article-save a, .article-cancel a {
  display: block;
  background-color: #27ae60;
  height: 26px;
  width: 50px;
  line-height: 26px;
  color: white !important;
  font-weight: bold;
  border-radius: 4px;
  font-size: 11px;
}
.article-save a:hover, .article-cancel a:hover {
  background-color: #30cd72;
}

.article-content-edit {
  transform: rotateY(180deg);
}

.article-content-edit textarea {
  width: 100%;
  height: 100%;
  border-top: 1px solid #EEE;
  margin-top: 10px;
  border-right: 0;
  border-left: 0;
  padding-top: 6px;
  font-size: 12px;
}
.article-content-edit textarea:focus {
  outline: none !important;
}

.working-article a {
  text-decoration: none;
  color: #666;
}

.article-title {
  font-size: 28px;
  margin-bottom: 6px;
}

.article-status {
  font-size: 1em;
  color: #BEBEBE;
}

/* article right */

.article-right {
  display: table-cell;
  width: 250px;
}

.article-right .bit-list {
  position: relative;
  margin-top: 32px;
}

.article-right .bit-list::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  background-color: #d7e4ed;
}

.article-right .bit-list-entry {
  width: 250px;
  margin-left: 20px;
  margin-bottom: 10px;
  position: relative;
}

/*
.article-right .new-article, .new-bit {
  width: 200px;
  height: 26px;
  line-height: 26px;
  margin-bottom: 8px;
  margin-left: 20px;
  background-color: #95a5a6;
  color: white;
  text-align: center;
}


.article-right .bit-date-wrapper {
  background-color: white;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  position: absolute;
  top: -10px;
  margin-left: -40px;
}
*/

.article-right .bit-search {
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: left middle;
  background-size: 24px 24px;
}

.article-right .bit-search input {
  width: 215px;
  height: 24px;
  margin-left: 30px;
  border: none;
  background-color: #EEE;
}

.article-right .bit-date {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  margin-left: -38px;
  background-color: #2ecc71;
  color: white;
  padding: 4px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
}

.article-right .bit-summary {
  width: 200px;
  overflow: hidden;
  padding: 10px;
  color: #484c4f;
  background-color: #EEE;
  margin-left: 10px;
  box-shadow: 1px 2px 4px #F0F0F0;
}

.article-right .bit-summary::before {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  border-right-color: #EEE;
  border-width: 6px;
}

.article-content .bit {
  width: 150px;
  height: 150xp;
  overflow: ellipse;
  margin:5px;
  display: inline-block;
}