@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSansNormal400.woff) format('woff');
}

body {
	background-color: rgb(237, 237, 235);
	font-family: Open Sans;
	color: #444;
}

.header {
	width: 100%;
	height: 100px;
	margin-bottom: 1.5em;
/*	background-color: #d7ecf1;*/
}

.item {
	width: 200px;
/*	height: 200px;*/
	background-color: #d7ecf1; /*#a3e2c5;*/
	margin: 0.5em 1em 0.5em 1em;
	display: inline-block;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	padding: 0.5em 1em;
	word-wrap: break-word;
}

.item-header {
	font-size: 17px;
	font-weight: bold;
}

.item-meta {
	width: 100%;
	border-top: 1px solid #d4f2e8;
	margin-top: 1em;
	font-size: 0.9em;
}

.innercircle-date {
	width: 70px;
	height: 70px;
	border: none;
	background-color: rgb(101, 101, 99);
	border-radius: 35px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	color: white;
	font-weight: bold;
}

span.day {
	width: 100%;
	display: block;
	line-height: 32px;
	font-size: 23px;
}

.outercircle-date {
	width: 80px;
	height: 80px;
	border: 2px solid rgb(215, 215, 213);
	border-radius: 40px;
}


.message-box {
	background-color: rgb(251, 251, 251);
	width: 300px;
	/*border: 2px solid rgb(209, 209, 207);*/
	border-radius: 3px;
	border-bottom: 1px solid rgb(204, 204, 204);

	box-shadow: 2px 2px 4px rgb(209, 209, 207);
}

.message-box-text {
	width: 96%;
}

#main {
	margin-top: 50px;
}