@import url(/css/lato.css);
@import url(/css/opensans.css);

html {
}

body {
  /*background-color: rgba(142, 142, 142, 0.12);*/
  background-color: rgb(205, 219, 232);
  font-family: "Open Sans", Arial;
  color: #444;

  /* Grow with content  */
  position: absolute;
  min-height: 100%;
  width: 100%;
  z-index: -3;
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

.header {
  width: 100%;
  height: 100px;
  margin-bottom: 1.5em;
/*  background-color: #d7ecf1;*/
}

.item {
  width: 200px;
  /* height: 200px; */
  background-color: #d7ecf1; /*#a3e2c5;*/
  margin: 0.5em 1em 0.5em 1em;
  display: inline-block;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 0.5em 1em;
  word-wrap: break-word;
}

.item-header {
  font-size: 17px;
  font-weight: bold;
}

.item-meta {
  width: 100%;
  border-top: 1px solid #d4f2e8;
  margin-top: 1em;
  font-size: 0.9em;
}

.innercircle-date {
  width: 70px;
  height: 70px;
  border: none;
  background-color: rgb(101, 101, 99);
  border-radius: 35px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  color: white;
  font-weight: bold;
}

.day {
  width: 100%;
  display: block;
  line-height: 30px;
  font-size: 18px;
}

.outercircle-date {
  width: 80px;
  height: 80px;
  border: 2px solid rgb(215, 215, 213);
  border-radius: 40px;
  background-color: rgb(237, 237, 235); 
}


.message-box {
  background-color: rgb(251, 251, 251);
  width: 300px;
  /*border: 2px solid rgb(209, 209, 207);*/
  border-radius: 3px;
  border-bottom: 1px solid rgb(204, 204, 204);
  margin-bottom: 50px;
  box-shadow: 2px 2px 4px rgb(209, 209, 207);
  /*min-height: 100px;*/
  padding: 16px 10px 16px 10px;
  position: relative;
  word-wrap: break-word;
}

.message-box:before {
  position: absolute;
  top: 2px;
  left: -12px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  border-right-color: rgb(209, 209, 207);
  border-width: 6px;
}

.message-box:after {
  position: absolute;
  top: 3px;
  left: -10px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  border-right-color: #fff;
  border-width: 5px;
}

.message-box.new-bit-box {
  padding-bottom: 16px;
}

.message-box-content {
  /* max-height: 300px; */
}

.message-box-text {
  width: 96%;
}

.bit-entry {
  margin-bottom: 10px;
}

.bit-entry-date-header {
  padding-left: 60px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

/*
.bit-entry-date-header.timeline-column {
  background-color: rgb(237, 237, 235);
  padding-top: 2px;
}
*/

#main {
  /* margin-top: 50px; */
}

.navbar {
  margin-bottom: 0px;
}

.timenode {
  margin-left: 42px;
  border-left: 3px solid rgb(218, 218, 216);
}

.timenode-time {
  position: relative;
  left: -30px;
}

textarea.message-box-text {
  clear: both;
  height: 120px;
}

.timeline-column {
  width: 100px;
}

.bit-entry .timeline-column {
  margin-left: 10px;
}

.timeline {
  position: absolute;
  left: 100px;
  z-index: 1;
  width: 3px;
  background-color: rgb(209, 209, 207);
  height: 100%;
}

.timeline-hour {
  width: 100px;
  text-align: center;
  color: rgb(130, 130, 130);
}

.processing .message-box, .bit-loading {
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

.bit-loading {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.bit-entry-content {
  position: relative;
  margin-left: 25px;
}

.bit-entry-toolbar {
  position: absolute;
  bottom: 2px;
  width: 100%;
}

.bit-entry-controls {
  float: left;
}

.bit-entry-toolbar > .btn-toolbar {
  /* display: inline-block; */
}

.bit-entry-toolbar > .tagsinput {
  height: 100%;
  border: none;
  background: none;
}

.bit-entry-topics {
  float: left;
  margin-left: 10px;
  position: relative;
  bottom: -5px; /* FIXME: why; */
}

/*
.bit-entry-topic {
  border: 2px solid rgb(26, 188, 156);
  border-radius: 2px;
  padding: 4px 3px 4px;
}
*/

.bit-entry-toolbar-btn {
  font-size: 12px;
  padding: 5px 10px 5px 10px !important;
}

.bit-entry-content > .bit-entry-toolbar {
  opacity: 0;
  transition: opacity 0.5s linear;
}

.bit-entry-content:hover > .bit-entry-toolbar {
  opacity: 1;
}

.sidebar {
  height: 100%;
  width: 550px;
  float: left;
  position: relative;
  /* box-shadow: 2px 2px 4px rgb(209, 209, 207); */
  background-color: rgb(237, 237, 235);
  padding-top: 50px;
}

.content {
  /*margin-left: 500px;*/
  padding: 15px;
  /* position: fixed; */
  width: 100%;
}

.content-group {
  min-height: 100%;
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  padding: 10px;
}

.content-editor {
  margin-right: 15px;
  width: 98%;
  min-height: 700px;
}

.content-editor-title {
  display: block !important;
  width: 60%;
}

.content-editor-toolbar {
  margin-bottom: 5px;

}

.topic-list > .tagsinput {
  background: none;
  border: none;
  padding: 0;
}

#attach {
  margin-left: 3px;
  position: relative;
}

#attach .span {
  margin-left: 0;
}

#attach input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.upload-status {
  padding: 16px 10px 16px 10px;
}

.upload-name {
  height: 15px;
  font-size: 1.0em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: inline-block;
}

a.delete-upload-file {
  text-decoration: none;
  font-size: 17px;
  padding: 3px;
}

.upload-status .upload-progress-wrapper {
  border: 1px solid #1abc9c ;
  width: 90%;
  float: left;
}

.upload-status .upload-progress {
  height: 15px;
  background-color: #1abc9c;
  width: 0;
}

.right-content {
  margin-left: 550px;
  padding: 50px;
  background-color: #edf2f8;
  position: relative;
}

.right-title {
  font-family: Arial;
  color: rgb(68, 68, 68);
  font-size: 1.4em;
  margin: 0;
}

.topics {
  /*
  background-color: rgba(251, 251, 251, 0.8);
  padding: 10px 10px 10px 10px;
  word-wrap: break-word;
  margin-bottom: 10px;
  margin-right: 10px;
  */
}

.topics h2, h3 {
  color: #4bbac3;
}

.topics h3 {
  font-size: 1.3em;
  line-height: 20px;
  font-family: Lato;
  font-weight: normal;
}

.topic {
  width 80%;
  border-radius: 1px;
  border-bottom: 1px solid rgb(204, 204, 204);
  box-shadow: 2px 2px 4px rgb(209, 209, 207);
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin-bottom: 15px;
  position: relative;
  min-height: 100px;
}

.topic h2 {
  position: absolute;
  left: 20px;
  top: 20px;
  line-height: 20px;
  margin-top: 0px;
}

.topic .topic-toolbar {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  font-size: 15px;
}

.topic .topic-toolbar span {
  margin-right: 10px;
  height: 20px;
}

.topic .topic-content {
  margin-top: 30px;
}

.topic .topic-bit-entry {
  margin-bottom: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.topic .topic-bit-entry p {
  margin-bottom: 2px;
}

.topic .topic-bit-date {
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
}

.topic .topic-bit-entry p:before {
  content: "■";
  color: #ed6b4d;
  margin-right: 5px;
}

.recents {
  /*
  background-color: rgba(251, 251, 251, 0.8);
  border-radius: 3px;
  border-bottom: 1px solid rgb(204, 204, 204);
  box-shadow: 2px 2px 4px rgb(209, 209, 207);
  padding: 10px 10px 10px 10px;
  word-wrap: break-word;
  margin-right: 10px;
  */
}

.topic-activity {
  margin-bottom: 2px;
  font-size: 12px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 3px;
}

.activity-Add {
  /*
  border-left: 5px solid #27ae60;
  padding-left: 5px;
  */
}

.topic-list {
}

.navheader {
  width: 100%;
  height: 40px;
}

.navheader-left {
  width: 550px;
  height: 100%;
  float: left;
  background-color: #1abc9c;
}

.navheader-left .fui-search {
  margin-left: 85px;
  float: left;
}

.navheader .nav-icon {
  color: white;
  font-size: 20px;
  display: block;
  margin-top: 10px;
}

.navheader-right .nav-icon {
  float: right;
  margin-right: 30px;
}

.navheader-left .search-input {
  margin-top: 10px;
  margin-left: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(83, 211, 224, 0.5);
  background-color: #1abc9c;
}

.navheader-right {
  height: 40px;
  background-color: #34495e;
}
